.testimonials {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

label {
    font-size: 25px;
    margin-bottom: 5px;
    display: block;
}

.rating {
    margin-top: 10px;
}

input {
    display: none;
}

label[for^="star"] {
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
}

input[type="radio"]:checked + label {
    color: #ffd700;
}

button:hover {
    background-color: #555;
}